<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/editfilebmi.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Carter+One&family=Cookie&family=Ephesis&family=Kaushan+Script&family=Norican&family=Qwigley&family=Tangerine:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>

    <h1>
        <center>Body Mass Index</center>
    </h1>
    <br>
    <div class="buttonnavigation">
        <a href="indexbmi.html">Calculate BMI</a>
        <a
            href="https://www.cdc.gov/healthyweight/assessing/bmi/index.html#:~:text=Body%20Mass%20Index%20(BMI)%20is,or%20health%20of%20an%20individual.">About
            BMI</a>
        <a href="https://www.cdc.gov/healthyweight/tools/index.html">External resources</a>
    </div>
    <br>
    <p class="class1">Body mass index (BMI) is a person's weight in kilograms divided by the square of height in meters.
        BMI is an inexpensive and easy screening method for weight category—underweight, healthy weight, overweight, and
        obesity.
        A high BMI can indicate high body fatness. BMI screens for weight categories that may lead to health problems,
        but it does not diagnose the body fatness or health of an individual.
        BMI does not measure body fat directly, but BMI is moderately correlated with more direct measures of body fat.
        Furthermore, BMI appears to be as strongly correlated with various metabolic and disease outcome as are these
        more direct measures of body fatness.</p>
    <h1 class="classh1">How is BMI used</h1>
    <p class="class1">BMI can be a screening tool, but it does not diagnose the body fatness or health of an individual.
        To determine if BMI is a health risk, a healthcare provider performs further assessments. Such assessments
        include skinfold thickness measurements, evaluations of diet, physical activity, and family history.</p>

    <div class="jpeg">
        <img src="image.jpeg" alt="">
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="bottom">
        <a href="https://support.google.com/mail/answer/8494?hl=en&co=GENIE.Platform%3DDesktop "><i
                class="glyphicon glyphicon-envelope"></i></a>
        <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
        <a href="https://in.linkedin.com/" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    </div>
</body>

</html>